<!DOCTYPE html>
<html>
  <head>
    <title>Massively Multiplayer Online Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1 class="title text-center">MMORPS</h1>


    <center>

      <table>
        <thead>
            <tr>
              <th>Player</th>
              <th>Score</th>
            </tr>

        </thead>
        <tbody>
          <tr><td>Human:</td><td><%= session[:user_score]%></td></tr>
          <tr><td>Computer:</td><td><%= session[:comp_score]%></td></tr>
        </tbody>
      </table>

    </center>

  <div>
    <center>
    <% if session[:visit_count] != 1 %>
      <h3>You chose <span><%= session[:user_choice] %></span>, Computer chose <span><%= session[:comp_choice] %></span>.</h3>
    <% end %>
    <center>
  </div>

<center>
  <div class="fixed_form">
    <% if @win == nil %>
      <form action="/choose" method="post">
        <h3>CHOOSE</h3>

        <input type="submit" name="choice" value="Rock">
        <input type="submit" name="choice" value="Paper">
        <input type="submit" name="choice" value="Scissors">
      </form>

    <% else %>
      <% if @win == true %>
        <h2>Player wins!</h2>
      <% elsif @win == false %>
        <h2>Computer wins!</h2>
        <% end %>

        <form action="/reset" method="post">
        <button>Play Again</button>
      </form>

    <% end %>
  </div>
</center>
  </body>
</html>
