h1 {
  font-family: impact;
}
body {
  font-family: Tahoma;
  background-color: #c4c4c4;
}

span {
  font-size: 50px;

}
thead {
  font-size: 24px;
  background-color: #696969;
}

.display {
  margin-top: 10px;
}

.user {
  background-color: #c6c6c6;
}

.number {
  background-color: #e0e0e0;
}

table {
  margin-top: 35px;
}

.form_location {
  position: fixed;
  bottom: 150px;
  margin: auto;
  width: 100%;
}

input[type=submit] {
    width: 150px;
    height: 25px;
    margin-right: 10px;
    background:#585858;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

button {
  width: 150px;
  height: 25px;
  background: #585858;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
